.isHidden {
  display: none;
}

.isApplied {
  background: #4caf50;
  pointer-events: none;
}

.jobListingCard {
  background: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0;

  display: flex; /* valor original */
  align-items: start;
  justify-content: space-between;
  gap: 1rem;

  small {
    font-size: 0.875rem;
    opacity: 0.75;
  }

  p {
    margin-top: 0.5rem;
  }

  &:last-child {
    border-bottom: none;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.buttonApplyJob {
  background: #09f;
}
