.jobDetails {
  max-width: 90%;
  margin: 0 auto;
}

.breadcrumb {
  display: flex;
  font-size: 1rem;
  li:not(li:last-child)::after {
    content: "/";
    margin-inline: 5px;
  }
  li:last-of-type {
    text-decoration: underline;
    pointer-events: none;
  }
}

.jobDetailsArticle {
  max-width: 90%;
  margin: 0 auto;
  background: inherit;
  box-shadow: unset;

  header {
    border: none;
    padding: 0;
    margin-bottom: 1.2rem;
  }

  section {
    display: block !important;
    text-align: left !important;
    height: auto !important;
    margin-bottom: 1.5rem;
    padding: 0 !important;
    h2 {
      text-align: start !important;
      margin: 0 !important;
      margin-bottom: 0.5rem !important;
    }

    li {
      display: flex;
      gap: 5px;
      align-items: center;
    }
    li:not(li:last-of-type) {
      margin-bottom: 0.4rem;
    }
    li::before {
      content: "";
      width: 22px;
      height: 22px;
      background-image: url("@icons/check-list.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  h1 {
    font-size: 2rem;
  }
  small {
    font-size: 1rem;
  }

  button {
    background: #09f;
  }
}

.breadcrumb,
.jobDetailsArticle {
  margin-top: 1.5rem;
}
