.jobsSearch {
  margin: 0;
  padding: 0;
  height: auto !important;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.25rem;
  }

  p {
    font-size: 1.125rem;
    color: var(--text-muted);
    margin-bottom: 1.5rem;
  }

  form {
    width: 100%;
    max-width: 1280px;
  }

  form div {
    background: none;
    box-shadow: none;
    padding: 0;
  }
}
.searchBar {
  background: var(--input-bg) !important;

  input[type="text"] {
    width: 100%;
  }
}
.searchFilters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}
